{% extends "hod.html" %}
{% block content %}
<h2>Add New HOD</h2>

<form method="POST" enctype="multipart/form-data">
    <label>Name:</label>
    <input type="text" name="hod_name" required>

    <label for="branch_code">Select Branch Code:</label>
    <select id="branch_code" name="branch_code" required>
        <option value="">--Select Branch code--</option>
        {% for branch in branches %}
        <option value="{{ branch.branch_code }}">{{ branch.branch_code }}</option>
        {% endfor %}
    </select><br>
<br>
    <label>Department:</label>
    <input type="text" name="department" required><br>

    <label>Contact:</label>
    <input type="text" name="contact" required>

    <label>Qualification:</label>
    <input type="text" name="qualification" required>

    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="image">

    <button type="submit">Add HOD</button>
</form>

<a href="{{ url_for('view_hods') }}">Back to HOD List</a>
{% endblock %}
